<html>
    <head>
        <title>Environment Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h2>Sensor Status:</h2>
        <table style="width:100%">
            <tr>
                <th>Sensor</th>
                <th>Temperature</th>
                <th>Target Temperature</th>
                <th>Humidity</th>
                <th>Target Humidity</th>
                <th>Last Updated</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.temperature }}</td>
                <td>{{ sensor.target_temperature }}</td>
                <td>{{ sensor.humidity }}</td>
                <td>{{ sensor.target_humidity }}</td>
                <td>{{ sensor.last_updated }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Appliance Status:</h2>
        <table style="width:100%">
            <tr>
                <tr>Appliance</tr>
                <tr>Enabled</tr>
                <tr>Current Status</tr>
                <tr>Duty Cycle</tr>
                <tr>Duty Cycle Percent</tr>
            </tr>
            {% for appliance in appliances %}
            <tr>
                <tr>{{ appliance.name }}</td>
                <tr>{{ appliance.enabled }}</tr>
                <tr>{{ appliance.status }}</tr>
                <tr>{{ appliance.duty_cycle }}</tr>
                <tr>{{ appliance.duty_cycle_percent }}</tr>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
