<html>
    <head>
        <title>Environment Manager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/live');
                var updates = [];

                function getSensorsTable(sensors) {
                    var table_string = `
                        <tr>
                            <th>Sensor</th>
                            <th>Temperature</th>
                            <th>Target Temperature</th>
                            <th>Humidity</th>
                            <th>Target Humidity</th>
                            <th>Last Updated</th>
                        </tr>`
                    for(var i = 0; i < sensors.length; i++) {
                        table_string = table_string + "<tr>"
                                + "<td>" + sensors[i].name + "</td>"
                                + "<td>" + sensors[i].temperature + "</td>"
                                + "<td>" + sensors[i].target_temperature + "</td>"
                                + "<td>" + sensors[i].humidity + "</td>"
                                + "<td>" + sensors[i].target_humidity + "</td>"
                                + "<td>" + sensors[i].last_updated + "</td>" 
                            + "</tr>"
                    }
                    return table_string
                }


                function getAppliancesTable(appliances) {
                    var table_string = `
                        <tr>
                            <th>Appliance</th>
                            <th>Enabled</th>
                            <th>Current Status</th>
                            <th>Duty Cycle</th>
                            <th>Duty Cycle Percent</th>
                        </tr>`
                    for(var i = 0; i < appliances.length; i++) {
                        table_string = table_string + "<tr>"
                                + "<td>" + appliances[i].name + "</td>"
                                + "<td>" + appliances[i].enabled + "</td>"
                                + "<td>" + appliances[i].status + "</td>"
                                + "<td>" + appliances[i].duty_cycle + "</td>"
                                + "<td>" + appliances[i].duty_cycle_percentage + "</td>"
                            + "</tr>"
                    }
                    return table_string
                }

                socket.on('sensor_update', function(msg) {
                    console.log("Received sensors data:" + JSON.stringify(msg.sensors));
                    console.log("Received appliances data:" + JSON.stringify(msg.appliances));

                    /*
                    if(updates.length >= 10){
                        updates.shift()
                    }

                    updates.push(msg.display_line);
                    updates_string = '';
                    for(var i = 0; i < updates.length; i++){
                        updates_string = updates_string + '<p>' + updates[i].toString() + '</p>'
                    }
                    $('#log').html(updates_string);
                    */
                    $('table#sensors').html(getSensorTable(msg.sensors));
                    $('table#appliances').html(getAppliancesTable(msg.appliances));

        	});
	    });
        </script>
    </head>
    <body>
        <h2>Sensor Status:</h2>
        <table id="sensors" style="width:100%">
            <tr>
                <th>Sensor</th>
                <th>Temperature</th>
                <th>Target Temperature</th>
                <th>Humidity</th>
                <th>Target Humidity</th>
                <th>Last Updated</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.temperature }}</td>
                <td>{{ sensor.target_temperature }}</td>
                <td>{{ sensor.humidity }}</td>
                <td>{{ sensor.target_humidity }}</td>
                <td>{{ sensor.last_updated }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Appliance Status:</h2>
        <table id="appliances" style="width:100%">
            <tr>
                <th>Appliance</th>
                <th>Enabled</th>
                <th>Current Status</th>
                <th>Duty Cycle</th>
                <th>Duty Cycle Percent</th>
            </tr>
            {% for appliance in appliances %}
            <tr>
                <td>{{ appliance.name }}</td>
                <td>{{ appliance.enabled }}</td>
                <td>{{ appliance.status }}</td>
                <td>{{ appliance.duty_cycle }}</td>
                <td>{{ appliance.duty_cycle_percentage }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id="log"></div>
    </body>
</html>
