<html>
    <head>
        <title>Environment Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h2>Sensor Status:</h2>
        <table style="width:100%">
            <tr>
                <th>Sensor</th>
                <th>Temperature</th>
                <th>Target Temperature</th>
                <th>Humidity</th>
                <th>Target Humidity</th>
                <th>Last Updated</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.temperature }}</td>
                <td>{{ sensor.target_temperature }}</td>
                <td>{{ sensor.humidity }}</td>
                <td>{{ sensor.target_humidity }}</td>
                <td>{{ sensor.last_updated }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Appliance Status:</h2>
        <table style="width:100%">
            <tr>
                <th>Appliance</th>
                <th>Enabled</th>
                <th>Current Status</th>
                <th>Duty Cycle</th>
                <th>Duty Cycle Percent</th>
            </tr>
            {% for appliance in appliances %}
            <tr>
                <td>{{ appliance.name }}</td>
                <td>{{ appliance.enabled }}</td>
                <td>{{ appliance.status }}</td>
                <td>{{ appliance.duty_cycle }}</td>
                <td>{{ appliance.duty_cycle_percent }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
