<html>
    <head>
        <title>Environment Manager</title>
    </head>
    <body>
        <h1>Sensor Status:</h1>
        <table style="width:100%">
            <tr>
                <th>Sensor</th>
                <th>Temperature</th> 
                <th>Humidity</th>
                <th>Last Updated</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>sensor.name</td>
                <td>sensor.temperature</td> 
                <td>sensor.humidity</td>
                <td>sensor.last_updated</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
